{% extends 'base.html.twig' %}
{% block title %}
Création Commerce
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="card" style="width: 80%;margin: auto;margin-top:5%;">
<div class="card-body">

<h1>Liste de pokémon à mettre en vente</h1>

<table class="table">
        <thead>
            <tr>
                <th>Id Pokédex</th>
                <th>Nom</th>
                <th>Evolution</th>
                <th>Starter</th>
                <th>TypeCourbeNiveau</th>
                <th>Niveau</th>
                <th>Xp gagnés</th>
                <th>Barre Xp Max</th>
                <th>Vente</th>
            </tr>
        </thead>
        <tbody>
        {% if pokemonsUser is not empty %}
            {% for i in range(0, pokemonsUser|length - 1) %}
                <tr>
                    <td>{{ pokemonsUser[i].id }}</td>
                    <td>{{ pokemonsUser[i].idPokemon.nom }}</td>
                    <td>{{ pokemonsUser[i].idPokemon.evolution ? 'Yes' : 'No' }}</td>
                    <td>{{ pokemonsUser[i].idPokemon.starter ? 'Yes' : 'No' }}</td>
                    <td>{{ pokemonsUser[i].idPokemon.typeCourbeNiveau }}</td>
                    <td>{{ pokemonsUser[i].Niveau }}</td>
                    <td>{{ pokemonsUser[i].xpGain }}</td>
                    <td>{{ pokemonsUser[i].xpMax  }}</td>
                    <td>
                    {% if isVente[i] %}
                    <a href="{{ path('app_creationVente', {'id': pokemonsUser[i].id}) }}">mettre en vente</a>
                    {% else %}
                    
                    <span> déjà en vente </span>
                    
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

<a href="{{ path('app_AccueilCommerce') }}">retour au marché</a>

</div>
</div>
{% endblock %}
