{% extends 'base.html.twig' %}
{% block title %}
Historic Commerce
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="card" style="width: 80%;margin: auto;margin-top:5%;">
<div class="card-body">

<h1>Historique des achats </h1>

<table class="table">
        <thead>
            <tr>
                <th>Id Vente</th>
                <th>Nom</th>
                <th>Evolution</th>
                <th>Starter</th>
                <th>TypeCourbeNiveau</th>
                <th>Niveau</th>
                <th>Xp gagnés</th>
                <th>Barre Xp Max</th>
                <th>Date Achat</th>
            </tr>
        </thead>
        <tbody>
        {% if pokemonsUser is not empty %}
            {% for i in range(0, pokemonsUser|length - 1) %}
                <tr>
                    <td>{{ pokemonsUser[i].id }}</td>
                    <td>{{ pokemonsUser[i].idPokemonUser.idPokemon.nom }}</td>
                    <td>{{ pokemonsUser[i].idPokemonUser.idPokemon.evolution ? 'Yes' : 'No' }}</td>
                    <td>{{ pokemonsUser[i].idPokemonUser.idPokemon.starter ? 'Yes' : 'No' }}</td>
                    <td>{{ pokemonsUser[i].idPokemonUser.idPokemon.typeCourbeNiveau }}</td>
                    <td>{{ pokemonsUser[i].idPokemonUser.Niveau }}</td>
                    <td>{{ pokemonsUser[i].idPokemonUser.xpGain }}</td>
                    <td>{{ pokemonsUser[i].idPokemonUser.xpMax  }}</td>
                    <td>
                    
                    {{ historicDate[i] }}
                    
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

<a href="{{ path('app_AccueilCommerce') }}">retour au marché</a>

</div>
</div>
{% endblock %}
