{% extends 'base.html.twig' %}
{% block title %}Fiche Pokemon{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<style>
.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}
</style>
<div class="card" style="width: 80%;margin: auto;margin-top:5%;">
<div class="card-body">
{% for message in app.flashes('success') %}
            <div class="alert alert-primary">
                {{ message }}
            </div>
        {% endfor %}
    <h1>Fiche général du pokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pokemon.nom }}</td>
            </tr>
            <tr>
                <th>Evolution</th>
                <td>{{ pokemon.evolution ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Starter</th>
                <td>{{ pokemon.starter ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>TypeCourbeNiveau</th>
                <td>{{ pokemon.typeCourbeNiveau }}</td>
            </tr>
        </tbody>
    </table>
    <div class="content">
       {% if isTraining %}
       <a href="{{ path('app_entrainementPokemons', {'id': idPokemonUser}) }}" class="btn btn-dark">Entrainer !</a>
       {% else %}
       <span>Entrainement indisponible</span>
        {% endif %}
       <a href="{{ path('app_entrainement') }}">retour à la liste</a>
                
    </div>
</div>
    </div>
{% endblock %}
